{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
</head>
<body>
        <div class="about-section">
              <h1>University Student Family of Pinlebu Township(USFPT)</h1>
              <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ပင္လည္ဘူးျမိဳ႕နယ္တကၠသိုလ္ေက်ာင္းသား/သူမ်ားအဖြဲ႔(USFPT)ကို ၂၀၁၁-၂၀၁၂ ခုနွစ္တြင္တကၠသိုလ္၀င္တန္းေအာင္ျမင္ျပီးခဲ႔ၾက ေသာ<wbr>ေက်ာင္းသား/သူမ်ားမွစတင္ဦးေဆာင္ဖဲြ႕စည္းခဲ႔ျခင္းျဖစ္ျပီး ပင္လည္ဘုူးျမိဳ႔နယ္နွင့္ဆက္စပ္ျမိဳ႕နယ္မ်ားရွိေက်ာင္းသား/သူမ်ား၏အခက္အခဲကို တစ္ဦးနွင့္တစ္ဦးကူညီေပးနိုင္ရန္ရည္ရြယ္ထားျခင္းျဖစ္သည္။<wbr> နွစ္စဥ္ေအာက္တိုဘာလတြင္ တကၠသိုလ္၀င္တန္းေအာင္ျမင္ျပီးသူ Fresher ညီေလးညီမေလးမ်ားကို ၾကိဳဆိုသည့္ပြဲကို ပင္လည္ဘူးျမိဳ႕ <wbr>ဦးေအာင္ျမတ္ခန္းမတြင္ က်င္းပနိုင္ခဲ႔ျပီး ေက်ာင္းမ်ားဖြင့္ဆဲကာလတြင္မူ ေနရာအခက္အခဲ၊ ေငြေၾကးအခက္အခဲေၾကာင့္ မႏေလးျမိဳ႕တြင္တစ္ၾကိမ္ နွင့္ ေရႊဘိုျမိဳ႕တြင္တစ္ၾကိမ္သာက်င္းပေပးနိုင္ခဲ႔သည္။ ေနာက္ပိုင္းကာလ ဦးေဆာင္မႈမ်ားအတြက္ ဂ်ဴနီယာညီေလးညီမေလးမ်ားကသာ <wbr>တာ၀န္ယူဦးေဆာင္သြားမည္ျဖစ္သည္။</p>
        </div>

        <footer class="text-muted">
             <div class="container">
                <p class="float-right">
                  <a href="{% url 'home' %}">Back to Main Page</a>
                </p>
                 <p>USFPT &copy 2020</p>
             </div>
        </footer>

</body>
</html>

{% endblock %}