<!DOCTYPE hlml>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  
</head>
<body>
	<header>
		<div class="main">
			<div class="title">
				<h1>University Student Family of Pinlebu Township(USFPT)</h1>
				<h2>(ပင္လည္ဘူးျမိဳ႕နယ္ တကၠသိုလ္ေက်ာင္းသားေက်ာင္းသူမ်ားအဖဲြ႕ )</h2>
			</div>
			<div class="button">
				<ul>
					<li><a href="{% url 'about' %}" class="btn">About</a></li>
					<li><a href="{% url 'activity' %}" class="btn">Watch Activities</a></li>
					<li><a href="{% url 'contact' %}" class="btn">Contact</a></li>
				</ul>
			</div>
		</div>
	</header>
   <footer>
	   <p>USFPT &copy 2020</p>		
   </footer>
</body>
</html>


